.octodex {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.octocat {
	
}

.octocat > a > img {
	max-width:500px;
	min-width:300px;
	border:solid 1px #D6D6D6;
	border-radius: 5px;
	margin-top: 20px;
}

.image-footer:after {
	content:"";
	width: 0; 
  	height: 0; 
  	border-left: 10px solid transparent;
  	border-right: 10px solid transparent;
    border-top: 10px solid #D6D6D6;
    position:relative;
    bottom: 15px;
    right:5px;
    
}
.authors img {
	width:30px;
}

/*
.authors:before {
	content:"";
	width: 0; 
  	height: 0; 
  	border-left: 10px solid transparent;
  	border-right: 10px solid transparent;
    border-top: 10px solid #D6D6D6;
    position:relative;
    bottom:15px;
    left:10px;
}
*/
.image-footer {
	max-width:500px;
	min-width:300px;
	height: 40px;
	display: flex;
	border-bottom:solid 1px #D6D6D6;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 40px; 
}


.image-number {
	color: #D6D6D6;
	flex-grow: 3;
	
}

.image-number:before {
	content:"#";
}

.image-caption {
	display: flex;
	position:relative;
	left:20px;
}

span {
	font-family:arial;
	color:#777777;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
}

a {
	font-family:arial;
	font-weight:bold;
	text-decoration: none;
	color:#333333;
}

ul {
	padding:0px;
}

li {
	list-style:none;
	padding:0px;
	display: inline-block;
}